<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DbConnect</servlet-name>
        <servlet-class>tourServlet.DbConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>tourServlet.signupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signServlet</servlet-name>
        <servlet-class>tourServlet.signServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logServlet</servlet-name>
        <servlet-class>tourServlet.logServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>tourServlet.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addData</servlet-name>
        <servlet-class>tourServlet.addData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayDet</servlet-name>
        <servlet-class>tourServlet.DisplayDet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>favouriteplaces</servlet-name>
        <servlet-class>tourServlet.favouriteplaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavouritePlaceFetch</servlet-name>
        <servlet-class>tourServlet.FavouritePlaceFetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePlacesCollection</servlet-name>
        <servlet-class>tourServlet.deletePlacesCollection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DbConnect</servlet-name>
        <url-pattern>/DbConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signServlet</servlet-name>
        <url-pattern>/signServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logServlet</servlet-name>
        <url-pattern>/logServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addData</servlet-name>
        <url-pattern>/addData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayDet</servlet-name>
        <url-pattern>/DisplayDet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>favouriteplaces</servlet-name>
        <url-pattern>/favouriteplaces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavouritePlaceFetch</servlet-name>
        <url-pattern>/FavouritePlaceFetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePlacesCollection</servlet-name>
        <url-pattern>/deletePlacesCollection</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
